@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
}

button:hover {
  color: gray;
  background: white;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  button {
    background: black;
    color: white;
  }

  button:hover {
    color: gray;
    background: black;
  }
}